github.sh
.vscode/settings.json
server/__pycache__/config.cpython-38.pyc
server/__pycache__/__init__.cpython-36.pyc
server/__pycache__/CRUD.cpython-38.pyc
server/__pycache__/deliverable.cpython-38.pyc
server/__pycache__/server.cpython-38.pyc
server/__pycache__/items.cpython-38.pyc
