input.form-control,
textarea.form-control {
    max-width: 100%;
}

main {
    display: flex;
}

html,
body,
main {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#sideBar {
    width: 30vw;
    background: #FBF5F5;
    height: 100vh;
}

#mainContent {
    overflow: visible;
    width: 100%;
}