input.form-control,
textarea.form-control {
    max-width: 100%;
}

main {
    display: flex;
}

html,
body,
main {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#sideBar {
    width: 20vw;
    background: #FBF5F5;
    height: 100vh;
    min-width: 300px;
}

#mainContent {
    overflow: visible;
    width: 100%;
}

.menuBtn {
    cursor: pointer;
}

.menuBtn:hover {
    background: rgba(255, 255, 255, 0.4);
}

.navbar-right {
    float: none!important;
}