<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-sample-label">
                Create Deliverable
            </h4>
        </div>
        <div class="modal-body">
            <form action="/save{{page[:-1]}}" id="itemForm" method="POST">
                <div class="form-group d-none">
                    <label for="itemID">id</label>
                    <input type="number" class="form-control" name="itemID" id="itemName" placeholder=""
                        value="{{deliverable['id']}}">
                </div>
                <div class="form-group">
                    <label for="itemName">Name</label>
                    <input type="text" class="form-control" name="itemName" id="itemName" placeholder=""
                        value="{{deliverable['title']}}">
                </div>
                <div class="form-group">
                    <label for="due_date">Due Date</label>
                    <input type="date" id="dueDate" name="due_date" class="form-control" placeholder="mm/dd/yyyy"
                        value="{{deliverable['due_date']}}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class='form-control' name="description">{{deliverable['description']}}</textarea>
                </div>
                <p class="form-group-label">Tasks</p>
                <div class="form-group scroll pl-3 pr-3 pt-0">
                    {% for task in tasks  %}
                    {% if task['deliverable_id'] is none or task['deliverable_id']==deliverable['id']%}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="tasks[]" class="tasks" value="{{task['id']}}" 
                                {% if task['deliverable_id']==deliverable['id'] %} checked {% endif %}
                                >
                                <span>{{task['title']}}</span>
                            </label>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
                 <p class="form-group-label">Requirments</p>
                <div class="form-group scroll pl-3 pr-3 pt-0">
                    {% for requirment in requirments  %}
                    {% if requirment['deliverable_id'] is none or deliverable['id']==requirment['deliverable_id']%}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="requirments[]" class="requirments" value="{{requirment['id']}}" 
                                {% if deliverable['id']==requirment['deliverable_id'] %} checked {% endif %}
                                >
                                <span>{{requirment['title']}}</span>
                            </label>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="submitItem()" id="itemFormSaveBTN" class="btn btn-primary">
                Add
            </button>
            <button type="button" class="btn btn-info" data-dismiss="modal">
                Cancel
            </button>
        </div>
    </div>
</div>