input.form-control,
textarea.form-control {
    max-width: 100%;
}

main {
    display: flex;
}

html,
body,
main {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#sideBar {
    background: #FBF5F5;
    height: 100vh;
    min-width: 280px;
    transition: 200ms min-width,200ms width;
    overflow: auto;
    position: relative;
}
.collapsebar{
    min-width: 50px!important;
    width: 50px;

}
#accordion a{
    text-decoration: none;
    color: #000000;
}
#mainContent {
    overflow: auto;
    width: 100%;
    position: relative;
    height: 100vh;
}
div#footer {
    position: relative;
    top: 33%;
}

.menuBtn {
    cursor: pointer;
    padding: 5px 0 5px 0;
}
#projects .current:before {
    content: " ";
    width: 4px;
    height: 40px;
    background: #2D8FDD;
}
.current{
    font-weight: bold;
}

nav ul {
    list-style: none;
}
nav ul li {
    cursor: pointer;
}
nav .current {
    border: #2D8FDD solid;
    border-width: 0;
    border-bottom-width: 3px;
}
.menuBtn:hover {
    background: rgba(255, 255, 255, 0.4);
}

.navbar-right {
    float: none!important;
}
.mainContent section:first-child{
    width: 80%;
}
.mainContent section:last-child{
    width: 30%;
}
.mainContent  .btn {
    width: 100%;
}
select[multiple].form-control {
    border: 1px solid #c8c8c8;
    width: 100%;
    max-width: 100%;
}
#sideBar a,
nav li a,
nav li a:hover,
.unA,.unA:hover{
    text-decoration: none;
    color: black;
}
.itemTitle span {
    line-height: 52px;
}
.titleBTN {
    right: 5px;
}
.scroll{
    overflow-y: scroll;
    height: 100px;
    background: white;
    border: #c8c8c8 1px solid;
}
select.form-control {
 
     max-width: unset;
    
}