{% extends "base.jinja" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="container">
    <div class="d-flex justify-content-center mt-5">
        <img  width="300" src="{{ url_for('static', filename='img/Lsd-logo.png') }}" alt="logo">
    </div>
    <div class="d-flex justify-content-center">
        <form action="/login" method="post" class="w-50">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input name="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>     

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</section>
{% endblock %}
